
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC:regular);
@import url(https://fonts.googleapis.com/css?family=Cormorant:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Cormorant:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body {
  margin: 0 auto;
  max-width: 1600px;
  padding: 20px 20px;
}
p {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 16px; 
}
 h4 {
  font-family: "Cormorant";
  font-weight: 400;
  font-size: 24px;
  
 }
 h3 {
  text-align: center;
  font-family: "Cormorant";
  font-weight: 400;
  font-size: 40px;
}

.logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.logo p, .logo span {
  font-family: "IM Fell Great Primer SC";
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 28px auto;
}
header ul {
  display: flex;
  width: 582px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}
.customer_icons {
  width: 180px;
  display: flex;
  justify-content: space-between;
}
.tea_field {
background: url(../HW7/картинки/чайное\ поле.jpg);
width: 1599px;
height: 500px;
}
.tea_field h1 {
  font-family: "Cormorant", serif;
  font-weight: 300;
  font-size: 60px;
  font-style: normal;
  width: 789px;
  height: 120px;
  margin:0 0 10px 0;
}
.tea_field p {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: 24px;
  width: 558px;
  height: 58px;
  margin: 20px 0 48px;
}
.tea_field_text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #fff;
  padding-top: 245px;
  padding-left: 200px;
}
h2 {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  width: 704px;
  height: 96px;
  text-align: center;
  justify-content: center;
  margin: 150px auto 150px;
}
.our_collection {
  width: 1200px;
  margin: 150px auto;
}
.choice_of_tea {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.collection_of_tea {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 60px;
  justify-content: space-between;
  flex-wrap: wrap;

}
.say_clients {
  background-color: rgb(247, 242, 234);
  width: 1600px;
  height: 397px;
  margin: 150px auto;
}
.say_clients h3 {
  padding: 60px;
}
.reviews_about_tea {
  display: flex;
  width: 1198px;
  margin: 0 auto 60px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: Open Sans;
}
.reviews_about_tea p {
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
}

.client_reviews {
  width: 280px;
}
.reviews_about_tea span {
  font-weight: 600;
  font-size: 20px;
  font-family: Open Sans;
  margin: 10px 0 0 0;
}
.tea_blog_section {
  display: flex;
  width: 1142px;
  margin: 150px auto;
  height: 619px;
  flex-direction: column;
  flex-wrap: wrap;
}
.tea_blog_section h3 {
  margin: 60px;
}
.tea_blog_section button {
  margin:0 auto;
}
.blog_cards_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 400px;
  
}
.blog_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 542px;
  height: 180px;
}
.blog_cards h4 {
  width: 252px;
  height: 86px;
}
.blog_cards p {
  font-size: 13px;
  height: 28px;
}
.blog_cards button {
  margin: 60px auto 0 0;
}
.blog_cards button,
.feedback_form_submit button {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 13px;
  border: none;
  background-color: #fff;
  justify-content: center;
}
.button_blog,
.feedback_form_submit button {
width: 149px;
height: 51px;
background-color: #fff;
border: 0.1px solid black;
}
.feedback {
  background-color: rgb(247, 242, 234);
  width: 1600px;
  height: 418px;
  margin: 150px 0 150px 0;
}
.feedback h3 {
  padding: 100px 0 0 200px;
  text-align: left;
}

.feedback p {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  width: 580px;
  height: 120px;
  margin: 50px 0 0 200px;
}
.feedback input {
border: none;
background-color: rgb(247, 242, 234);
  border-bottom: 1px solid;
  width: 439px;
  margin:0 25px 0 0;
  font-family: Open Sans;
}
.feedback_privacy {
  display: flex;
  flex-wrap: wrap;
}
.feedback_privacy input {
  width: 10px;
}
.feedback_privacy p {
font-size: 13px;
width: 560px;
height: 54px;
margin: 12px;
}
.feedback_form {
  display: flex;
  flex-wrap: wrap;
}
.feedback_form p {
  width: 560px;
}
.feedback_form_submit {
  margin: 0 0 0 40px;
}
.our_priorities{
  width: 1200px;
}
.priorities {
  display: flex;
  width: 1199px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.priority h4 {
  font-family: Open Sans;
  font-weight: 300;
font-size: 30px;
margin:0 0 10px 0;
}
.priority p {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 20px;
  margin:0 0 15px 0;
}
footer {
  background-color: #F7F2EA;
  width: 1600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.footer_site_info {
  display: flex;
  flex-wrap: wrap;
}
footer li {
  list-style: none;
margin: 10px;
padding: 10px;
font-family: Open Sans;
font-weight: 300;
font-size: 16px;
}
blockquote {
  text-align: center;
  width: 269px;
  height: 162px;
  margin: 50px;
  padding: 50px;
}
blockquote p {
  font-style: italic;
  margin: 10px;
}
blockquote span {
  font-family: Open Sans;
  font-weight: 300;
font-size: 12px;
}
.contacts p {
  font-size: 13px; 
  width: 270px;
  height: 287px;
}
.communication {
  display: flex;
  flex-direction: column;
}
.communication span {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 13px; 
}
.tealuxe_contacts {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.footer_copyright {
  display: flex;
  justify-content: space-between;
}
.footer_copyright_payment_method {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}